<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Movie Single page App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="logggedIn()" class="nav-item">
          <a class="nav-link active" aria-current="page" routerLinkActive="ative" routerLink="/">Home</a>
        </li>
        <li *ngIf="logggedIn()" class="nav-item">
          <a class="nav-link" routerLinkActive="ative" routerLink="/book-property">Book</a>
        </li>
        <li *ngIf="logggedIn()" class="nav-item">
          <a class="nav-link" routerLinkActive="ative" routerLink="/add-property">Movie Propperty (free)</a>
        </li>

      </ul>

    </div>
    <div>
      <ul class="nav navbar-nav">
        <li *ngIf="!logggedIn()" class="nav-item">
          <a class="nav-link" routerLink="User/register" routerLinkActive="active">Register</a>
        </li>
        <li *ngIf="!logggedIn()" class="nav-item">
          <a class="nav-link" routerLink="User/login" routerLinkActive="active">Login</a>
        </li>
        <li *ngIf="logggedIn()" class="nav-item">
          <a class="nav-link" (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
